<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <title>Collapsible Tree Example</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
	
	<style>
	
	ul {
    	list-style: circle;
	}
	li {
    	margin-left: 20px;
	}
	
	</style>

</head>

<body ng-app="myApp">

<!-- load the d3.js library --> 
<script src="http://d3js.org/d3.v3.min.js"></script>
<!-- load angular -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script> 
<script type="text/javascript" src="app.js"></script>
<script type="text/ng-template"  id="tree_item_renderer.html">
    {{data.name}}
    <button ng-click="add(data)">Add node</button>
    <button ng-click="delete(data)" ng-show="data.nodes.length > 0">Delete nodes</button>
    <ul>
        <li ng-repeat="data in data.nodes" ng-include="'tree_item_renderer.html'"></li>
    </ul>
</script>

<ul ng-app="Application" ng-controller="TreeController">
    <li ng-repeat="data in tree" ng-include="'tree_item_renderer.html'"></li>
</ul>

</body>

</html>
